language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"
  - "nightly"
  - "pypy"
  - "pypy3"

matrix:
  allow_failures:
    python: "3.7-dev"
    python: "nightly"

# command to install dependencies
# install:
#  - pip install your_package
#    pip install git+https://github.com/blampe/IbPy.git

# command to run tests
script: cd tests && nosetests -v -v
